CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_L2CAP_COC_MAX_NUM=2
CONFIG_BT_NIMBLE_NVS_PERSIST=y
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y

CONFIG_BT_NIMBLE_MSYS_1_BLOCK_COUNT=384
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_SIZE=256
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_COUNT=1024
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_SIZE=320

CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=24

CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=512
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
